// -------------------
// UTILIDADES
// -------------------
/* .row>*,
.form-row>*{
    border: 1px solid red; //codigo para ver el comportamiento de las columnas
} */

//---------------------------------------------------------------------------------------------------

// -------------------
// PATRONES DE COLORES
// -------------------

$principal: #1b62af;
$secundario:#4e4f52;
$texto: #767982;

/*-------------------------------------
1. ESTILOS BODY 
--------------------------------------*/
body{
    font-family: 'Lato', sans-serif;
    color: $texto;
}
/*-------------------------------------
2. ESTILOS COLOR PRINCIPAL 
--------------------------------------*/
.bg-primary{
    background-color: $principal !important;
}
.text-primary{
    color: $principal !important;
}

/*-------------------------------------
3. ESTILOS COLOR SECUNDARIO 
--------------------------------------*/
.bg-secondary{
    background-color: $secundario !important;
}
.text-secondary{
    color: $secundario !important;
}
/*-------------------------------------
4. ESTILO BOTON DE MENU 
--------------------------------------*/
#menu-navegacion .navbar-toggler {
    padding: 0;
    font-size: 1.5rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
}

#menu-navegacion .boton-menu::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f0c9";
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
}
#menu-navegacion .icono-cerrar::before {
    content: "\f00d";
}

.navbar-dark .navbar-nav .nav-link {
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  transition: all .3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: lighten($principal, 5%);
  
}

/* Estilos para el enlace activo */
.navbar-dark .navbar-nav .nav-link.active{
  background-color: lighten($principal, 5%);
}

.iconos{
  max-width: 55px;
  max-height: 55px;
}


section.resume-section {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem; /* Son 5rem + 24px que es lo que mide el navbar */
    padding-bottom: 4rem;
    /* max-width: 75rem; */
    min-height: 100vh;
    align-items: center;
}

.perfil{
    max-width: 13rem;
    max-height: 13rem;
}

@media (min-width: 990px) {
    #menu-navegacion {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #menu-navegacion .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #menu-navegacion .navbar-brand .img-profile {
      max-width: 12rem;
      max-height: 12rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #menu-navegacion .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #menu-navegacion .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #menu-navegacion .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #menu-navegacion .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        align-items: center;
    }
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
  }


 /*  section.resume-section .resume-section-content {
    width: 100%;
  } */
  
  /* Hace que cada seccion mida el 100% del alto de la pantalla a partir de md (CREO)*/
  /* @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
  }
 */